/************************************************
*
* File - main.css
* Author - Matt Antonio
* Project - MDD App
* Location - css/main.css
* Date - 04/15/14
*
************************************************/

/*
GENERAL ELEMENTS
********************************************** */
html {
    font-size: 1px;
}
body {
    background-color: ghostwhite;
    font-size: 16rem;
    font-family:'Alegreya Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Exo', sans-serif;*/
    font-weight: 900;
    color: #f2a800;
}
h1 {
    font-size: 36rem;
}
h2 {
    font-size: 30rem;
}
h3 {
    font-size: 26rem;
}
h4 {
    font-size: 20rem;
}
h5 {
    font-size: 18rem;
}
h6 {
    font-size: 16rem;
}
.fsOrange {
    color: #f2a800;
}
.heavy {
    font-weight: 900;
}
.med {
    font-weight: 700;
}
/*
BOOTSTRAP THEME ELEMENTS
********************************************** */
 #wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
}
#sidebar-wrapper {
    margin-left: -250px;
    left: 250px;
    width: 250px;
    background-color: #323227;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
    margin-right: 0;
    box-shadow: 3px 0 0 #f2a800;
}
#page-content-wrapper {
    width: 99%;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}
.sidebar-nav li a {
    color: ghostwhite;
    display: block;
    text-decoration: none;
    font-weight: 400;
}
.sidebar-nav li a:hover {
    color: #323227;
    background: #f2a800;
    text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    line-height: 60px;
}
.sidebar-nav > .sidebar-brand a:hover {
    background: none;
}
.content-header {
    height: 65px;
    line-height: 65px;
}
.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
}
#menu-toggle {
    display: none;
}
.inset {
    padding: 20px;
}
/*
MAIN NAV / BRAND
********************************************** */
 .sidebar-nav > .sidebar-brand a h1 {
    color: ghostwhite;
    font-weight: 400;
}
.sidebar-nav > .sidebar-brand a:hover h1 {
    color: #f2a800;
}
/*.sidebar-nav > .sidebar-brand a h1 span.heavy {
  color: #f2a800;
}*/
 .sidebar-nav > .sidebar-brand a:hover h1 span.heavy {
    color: ghostwhite;
}
.sidebar-brand .heavy {
    margin-left: -5px;
}
/*
GOOGLE MAP
********************************************** */
.angular-google-map-container {
    height: 468px;
}
 #map-canvas {
    width: 640px;
    height: 480px;
    margin: 0 auto;
    box-shadow: 6px 6px 0 #f2a800, 12px 12px 0 #323227;
    border: 6px solid #323227;
}
/*
FOOTER
********************************************** */
 #footer {
    background-color: #323227;
    min-height: 75px;
    border-top: 3px solid #f2a800;
    position: fixed;
    bottom: 0;
    /*right: 0;*/
    left: 268px;
    width: 100%;
    padding-right: 10px;
}
#footer footer {
    padding: 10px;
    overflow: hidden;
    /*text-align: center;*/
}
#copyright {
    /*float: right;*/
    color: ghostwhite;
}
/*
MEDIA QUERIES
********************************************** */
 @media (max-width:767px) {
    #wrapper {
        padding-left: 0;
    }
    #sidebar-wrapper {
        left: 0;
    }
    #wrapper.active {
        position: relative;
        left: 250px;
    }
    #wrapper.active #sidebar-wrapper {
        left: 250px;
        width: 250px;
        transition: all 0.4s ease 0s;
    }
    #menu-toggle {
        display: inline-block;
    }
    .inset {
        padding: 15px;
    }
