/************************************************
*
* File - main.css
* Author - Matt Antonio
* Project - hungR
* Location - css/main.css
* Date - 04/15/14
*
************************************************/

/*
GENERAL ELEMENTS
********************************************** */
 html {
    font-size: 1px;
}
body {
    background-color: ghostwhite;
    font-size: 16rem;
    font-family:'Alegreya Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Exo', sans-serif;*/
    font-weight: 900;
    color: #f2a800;
}
h1 {
    font-size: 36rem;
}
h2 {
    font-size: 30rem;
}
h3 {
    font-size: 26rem;
}
h4 {
    font-size: 20rem;
}
h5 {
    font-size: 18rem;
}
h6 {
    font-size: 16rem;
}
.inset {
    padding: 40px;
}
.fsOrange {
    color: #f2a800;
}
.heavy {
    font-weight: 900;
}
.med {
    font-weight: 700;
}
/*
BOOTSTRAP THEME ELEMENTS
********************************************** */
 #wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
}
#sidebar-wrapper {
    margin-left: -250px;
    left: 250px;
    width: 250px;
    background-color: #323227;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
    margin-right: 0;
    /*border-right: 5px solid #f2a800;*/
    box-shadow: 5px 0 0 #f2a800;
}
#page-content-wrapper {
    width: 99%;
}
.
.content-header {
    height: 65px;
    line-height: 65px;
}
.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
}
#menu-toggle {
    display: none;
}
/*
MAIN NAV / BRAND
********************************************** */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
    /*bottom: 70px;*/
}
.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}
.sidebar-nav li a {
    color: ghostwhite;
    display: block;
    text-decoration: none;
    font-weight: 400;
}
.sidebar-nav li a:hover {
    color: #323227;
    background: #f2a800;
    text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    line-height: 60px;
}
.sidebar-nav > .sidebar-brand a:hover {
    background: none;
}
 .sidebar-nav > .sidebar-brand a h1 {
    color: ghostwhite;
}
.sidebar-nav > .sidebar-brand a h1 {
    color: #f2a800;
}
/*.sidebar-nav > .sidebar-brand a h1 span.heavy {
  color: #f2a800;
}*/
 .sidebar-nav > .sidebar-brand a:hover h1 {
    color: ghostwhite;
}
.sidebar-brand .heavy {
    margin-left: -5px;
}
/*
GOOGLE MAP
********************************************** */
 .angular-google-map-container {
    height: 468px;
}
#map-canvas {
    width: 640px;
    margin: 0 auto;
}
.drop-shadow {
    position: relative;
    /*float: left;*/
    width: 40%;
    padding: 1em;
    margin: 2em 10px 4em;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.perspective:before {
    left: 80px;
    bottom: 5px;
    width: 50%;
    height: 35%;
    max-width: 200px;
    max-height: 50px;
    -webkit-box-shadow: -80px 0 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -80px 0 8px rgba(0, 0, 0, 0.4);
    box-shadow: -80px 0 8px rgba(0, 0, 0, 0.4);
    -webkit-transform: skew(50deg);
    -moz-transform: skew(50deg);
    -ms-transform: skew(50deg);
    -o-transform: skew(50deg);
    transform: skew(50deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.drop-shadow:before, .drop-shadow:after {
    content:"";
    position: absolute;
    z-index: -2;
}
Pseudo ::after element .perspective:after {
    display: none;
}
.drop-shadow:before, .drop-shadow:after {
    content:"";
    position: absolute;
    z-index: -2;
}
/*
ADD RESTAURANT VIEW
********************************************** */
#restaurantSubmit {
  display: none;
  color: ghostwhite;
  border-color: #d69200;
  background-color: #f2a800;
  width: 100%;
  font-size: 18rem;
}
#restaurantSubmit:hover {
  background-color: transparent;
  color: #323227;
}
input, .form-control, #restaurantSubmit {
  border-radius: 0;
}
input.form-control {
  border: none;
  box-shadow: 0 1px 1px rgba(50,50,39,0.2) inset;
}
#submitSuccess, #submitFail {
    display: none;
}
/*
LIST RESTAURANT VIEW
********************************************** */
.restaurant-info {
    padding: 10px;
    border-bottom: 1px dotted #323227;
}
.restaurant-info h4 {
    font-weight: 300;
}
/*
FOOTER
********************************************** */
 footer {
    width: 100%;
    min-height: 25px;
    display: flex;
    margin-top: 50px;
}
footer div {
    color: #323227;
    margin: auto 0;
}
footer div p {
  text-align: center;
}
/*
MEDIA QUERIES
********************************************** */
 @media (max-width:767px) {
    #wrapper {
        padding-left: 0;
    }
    #sidebar-wrapper {
        left: 0;
    }
    #wrapper.active {
        position: relative;
        left: 250px;
    }
    #wrapper.active #sidebar-wrapper {
        left: 250px;
        width: 250px;
        transition: all 0.4s ease 0s;
    }
    #menu-toggle {
        display: inline-block;
    }
    .inset {
        padding: 15px;
    }
