<div class="col-lg-8">
    <form class="form-horizontal" role="form">

        <div class="form-group">
            <label for="restaurant-name" class="col-sm-2 control-label">Restaurant Name:</label>
            <div class="col-sm-10">
                <input type="input" class="form-control" id="restaurant-name" placeholder="Firehouse">
            </div>
            <!-- END col-sm-10 -->
        </div>
        <!-- END form-group -->

        <div class="form-group">
            <label for="discount" class="col-sm-2 control-label">Discount Given:</label>
            <div class="col-sm-10">
                <input type="input" class="form-control" id="discount" placeholder="10%">
            </div>
            <!-- END col-sm-10 -->
        </div>
        <!-- END form-group -->

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <google-plus-signin clientid="414649816906-jv85cj9hogk7as40nirlcn3v3r4545m2.apps.googleusercontent.com
"></google-plus-signin>
            </div>
        </div>
    </form>
</div>

<div class="col-lg-4">

</div>
